<div class="memory-card-list" fxLayout="row wrap" fxLayoutAlign="start stretch" cdkDropListGroup>
  <app-memory-card-detail fxFlex="0 0 calc(50% - 16px)" fxFlex.gt-md="0 0 calc(33.33% - 16px)" fxFlex.lt-md="0 0 calc(100% - 16px)" *ngFor="let card of memoryCards; let index=index" class="memory-card" [card]="card" [iconFrame]="iconFrame" [index]="index"></app-memory-card-detail>
</div>
<p *ngIf="memoryCards.length == 0">No memory cards loaded. Click the Add button to load a memory card.</p>
<input type="file" id="mc-file" (change)="loadMemoryCard()">
<button mat-fab class="mc-add-button" aria-label="Load a Memory Card" (click)="openMemoryCard()">
  <mat-icon>addition</mat-icon>
</button>